#include <SoftwareSerial.h>


#define ag_ismi "GPARK2"
#define ag_sifresi "08120202"
#define IP "184.106.153.149"    
 
float sicaklik;
 
void setup()
{
  Serial.begin(115200); 
                        
  
  Serial.println("AT"); 
  delay(3000); 
 analogReference(INTERNAL);
  if(Serial.find("OK")){         
     Serial.println("AT+CWMODE=1"); 
     String baglantiKomutu=String("AT+CWJAP=\"")+ag_ismi+"\",\""+ag_sifresi+"\"";
    Serial.println(baglantiKomutu);
    
     delay(5000);
 }
}
 
void loop(){
  float sicaklik = analogRead(A0) / 9.31; 
 Serial.println(sicaklik);
 sicaklik_yolla(sicaklik);
 delay(15000);
}
 
 
void sicaklik_yolla(float sicaklik){
 Serial.println(String("AT+CIPSTART=\"TCP\",\"") + IP + "\",80");  
                                                                  
                                                                   
 delay(1000);
  if(Serial.find("Error")){     
   Serial.println("AT+CIPSTART Error");
    return;
  }
  
 String yollanacakkomut = "GET https://api.thingspeak.com/update?api_key=G9HO4YG1U6L962CY&field1=";
 yollanacakkomut += (int(sicaklik));                                      
 yollanacakkomut += "\r\n\r\n";                                             
  delay(3000);                                                                                
 
 Serial.print("AT+CIPSEND=");                   
 Serial.println(yollanacakkomut.length()+2);      
 
 delay(1000);
 
 if(Serial.find(">")){                            
                                               
 Serial.print(yollanacakkomut);
 Serial.print("\r\n\r\n");
 }
 else{
 Serial.println("AT+CIPCLOSE");
 }
}
